body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

#par_1 {
  color: brown;
  text-align: center;
}
.par_2 {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
  padding: 0 16px;
}
hr {
  height: 4px;
  background-color: black;
  border: none;
}
