body {
  background-color: rgb(98, 128, 124);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

#par_1 {
  color: brown;
  text-align: center;
}
.par_2 {
  text-align: center;
  margin: 50px 300px 50px 300px;
}
hr {
  height: 4px;
  background-color: black;
  border: none;
}
