body {
  background-color: rgb(35, 110, 100);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

#par_1 {
  color: brown;
  text-align: center;
}
#par_2 {
  text-align: center;
  margin: 50px 300px 50px 300px;
}
