body {
  /* background-image: url(https://img.freepik.com/darmowe-wektory/nowoczesny-styl-szary-zygzagowy-pas-abstrakcyjny-tapeta_1017-59367.jpg?semt=ais_hybrid&w=740&q=80);
  /* background-size: cover;
  background-repeat: no-repeat; */
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #4d38d6, #d638af);
}

h1 {
  color: darkblue;
  text-align: center;
}

#par_1 {
  color: brown;
  text-align: center;
}
.par_2 {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
  padding: 0 16px;
}
hr {
  border: none;
  height: 4px;
  background: linear-gradient(90deg, #ff6ec7, #ff00ff); /* gradient różowy */
  box-shadow: 0 0 10px #ff6ec7, 0 0 20px #ff00ff, 0 0 30px #ff6ec7; /* neonowy glow */
  border-radius: 2px;
  margin: 20px 0;
}
.main_h {
  background: linear-gradient(to right, #101d705c, #4810708c);
  border-radius: 40px;
  border-color: linear-gradient(90deg, #ff6ec7, #ff00ff); /* gradient różowy */
  box-shadow: 0 0 10px #ff6ec7, 0 0 20px #ff00ff, 0 0 30px #ff6ec7; /* neonowy glow */
  text-align: center;
  width: 40%; /* <-- zmniejsza szerokość div */
  max-width: 600px; /* <-- opcjonalnie ogranicza maksymalną szerokość */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px; /* <-- opcjonalnie, żeby tekst nie przyklejał się do krawędzi */
  border: #d638aec4 solid 3px;
}
.main_h p {
  font-size: 20px;
  color: whitesmoke;
}
.main_h h1 {
  color: antiquewhite;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(213, 205, 205, 0.255);
  padding: 0 20px;
  height: 60px;
  border-radius: 20px;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffe23f;
}
